<div class="component-container max-w-450" [@fadeAnimation]=transitionState>
  <div class="" *ngIf="status == '000'">
    <h3>{{'dashboard.menuGroup.account.functions.accInfo' | translate}}</h3>
    <div class="">
      <span class="">{{'commonCaptions.userName' | translate}}</span>
      <span class="">:&nbsp;&nbsp;</span>
      <span class="font-b">{{userName}}</span>
    </div>
    <div class="">
      <span class="">{{'commonCaptions.userFullName' | translate}}</span>
      <span class="">:&nbsp;&nbsp;</span>
      <span class="font-b">{{userFullName}}</span>
    </div>
    <div class="">
      <span class="">{{'commonCaptions.userDeptCode' | translate}}</span>
      <span class="">:&nbsp;&nbsp;</span>
      <span class="font-b">{{userDeptCode}}</span>
    </div>
    <div class="">
      <span class="">{{'commonCaptions.deptDesc.caption' | translate}}</span>
      <span class="">:&nbsp;&nbsp;</span>
      <span class="font-b">{{'commonCaptions.deptDesc.' + userDeptCode | translate}}</span>
    </div>
    <div class="">
      <span class="">{{'commonCaptions.userTitleCode' | translate}}</span>
      <span class="">:&nbsp;&nbsp;</span>
      <span class="font-b">{{userTitleCode}}</span>
    </div>
    <div class="">
      <span class="">{{'commonCaptions.titleDesc.caption' | translate}}</span>
      <span class="">:&nbsp;&nbsp;</span>
      <span class="font-b">{{'commonCaptions.titleDesc.' + userTitleCode | translate}}</span>
    </div>

    <div class="">
      <span class="">{{'commonCaptions.userEmail' | translate}}</span>
      <span class="">:&nbsp;&nbsp;</span>
      <span class="font-b">{{userEmail}}</span>
    </div>

    <div class="">
      <span class="">{{'commonCaptions.userFailedLoginCount' | translate}}</span>
      <span class="">:&nbsp;&nbsp;</span>
      <span class="font-b">{{userFailedLoginCount}}</span>
    </div>
    <div class="">
      <span class="">{{'commonCaptions.userEnabled' | translate}}</span>
      <span class="">:&nbsp;&nbsp;</span>
      <span class="font-b">{{'commonCaptions.enabled' + userEnabled | translate}}</span>
    </div>
  </div>
  <div class="" *ngIf="status !== '000'">
    <h3>{{'commonCaptions.noInfo' | translate}}</h3>
  </div>
  <div></div>
  <div class="btn btn-success" (click)="refresh()">
    <span><i class="fas fa-sync-alt"></i>&nbsp;&nbsp;{{'commonCaptions.refreshCommand' | translate}}</span>
  </div>
</div>
