/****** Object:  UserDefinedTableType [dbo].[userTableType]    Script Date: 3/17/2020 11:48:06 PM ******/
CREATE TYPE [dbo].[userTableType] AS TABLE(
	[userName] [nvarchar](50) NOT NULL,
	[userPass] [nvarchar](64) NULL,
	[userFullname] [nvarchar](50) NULL,
	[userDeptCode] [nvarchar](50) NULL,
	[userTitleCode] [nvarchar](50) NULL,
	[userEmail] [nvarchar](50) NULL,
	[userEnabled] [bit] NULL,
	[userFailedLoginCount] [int] NULL
)
GO
/****** Object:  UserDefinedFunction [dbo].[hashPW]    Script Date: 3/17/2020 11:48:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[hashPW]
(	
	-- Add the parameters for the function here
	-- 0x37DC1A3C0534909B99BD5591CC4EB677C7B50924FC85BAF33487D119F4403E sysadmin
	@RawPW nvarchar(50),
	@userName nvarchar(50)
)
RETURNS nvarchar(64)
AS
BEGIN
declare @firstpart nvarchar(64), @secondpart nvarchar(64)
set @firstpart = CONVERT(NVARCHAR(64),HashBytes('SHA2_256', @RawPW),1)
set @secondpart = CONVERT(NVARCHAR(64),HashBytes('SHA2_256', REVERSE(@userName) + @firstpart ),1)
	RETURN CONVERT(NVARCHAR(64),HashBytes('SHA2_256', @firstpart + 'LeaveMS' + @secondpart),1);
END;
GO
/****** Object:  Table [dbo].[deptInfo]    Script Date: 3/17/2020 11:48:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[deptInfo](
	[deptCode] [nvarchar](50) NOT NULL,
	[deptDesc] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[deptCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[titleInfo]    Script Date: 3/17/2020 11:48:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[titleInfo](
	[titleCode] [nvarchar](50) NOT NULL,
	[titleDesc] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[titleCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[userInfo]    Script Date: 3/17/2020 11:48:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[userInfo](
	[userName] [nvarchar](50) NOT NULL,
	[userPass] [nvarchar](64) NULL,
	[userFullname] [nvarchar](50) NULL,
	[userDeptCode] [nvarchar](50) NULL,
	[userTitleCode] [nvarchar](50) NULL,
	[userEmail] [nvarchar](50) NULL,
	[userEnabled] [bit] NULL DEFAULT ((1)),
	[userFailedLoginCount] [int] NULL DEFAULT ((0)),
PRIMARY KEY CLUSTERED 
(
	[userName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[deptInfo] ([deptCode], [deptDesc]) VALUES (N'0000', N'IT')
GO
INSERT [dbo].[deptInfo] ([deptCode], [deptDesc]) VALUES (N'0001', N'HR')
GO
INSERT [dbo].[deptInfo] ([deptCode], [deptDesc]) VALUES (N'0002', N'Finance')
GO
INSERT [dbo].[titleInfo] ([titleCode], [titleDesc]) VALUES (N'0000', N'Admin')
GO
INSERT [dbo].[titleInfo] ([titleCode], [titleDesc]) VALUES (N'0001', N'Director')
GO
INSERT [dbo].[titleInfo] ([titleCode], [titleDesc]) VALUES (N'0002', N'Manager')
GO
INSERT [dbo].[userInfo] ([userName], [userPass], [userFullname], [userDeptCode], [userTitleCode], [userEmail], [userEnabled], [userFailedLoginCount]) VALUES (N'sysadmin', N'0x249E392B6C855451D1905CEEFF5DF16FE2BB87E889CDF106E6614468DA8858', N'System Admin', N'0000', N'0000', NULL, 1, 0)
GO
INSERT [dbo].[userInfo] ([userName], [userPass], [userFullname], [userDeptCode], [userTitleCode], [userEmail], [userEnabled], [userFailedLoginCount]) VALUES (N'user01', N'0x4A596F2ACF2687155C74D719335244D7FE2CECA63DC64C21D77E71FFDB9F0F', N'Ronaldo', N'0001', N'0003', NULL, 1, 0)
GO
INSERT [dbo].[userInfo] ([userName], [userPass], [userFullname], [userDeptCode], [userTitleCode], [userEmail], [userEnabled], [userFailedLoginCount]) VALUES (N'user02', N'0x050FF5BBA3CBC87BC893F824BD29223D216A92CB09560CAAF41864187E8870', N'Messi', N'0001', N'0003', N'user02@gmail.com', 1, 0)
GO
ALTER TABLE [dbo].[userInfo]  WITH CHECK ADD  CONSTRAINT [FK_userInfo_deptInfo] FOREIGN KEY([userDeptCode])
REFERENCES [dbo].[deptInfo] ([deptCode])
GO
ALTER TABLE [dbo].[userInfo] CHECK CONSTRAINT [FK_userInfo_deptInfo]
GO
ALTER TABLE [dbo].[userInfo]  WITH CHECK ADD  CONSTRAINT [FK_userInfo_titleInfo] FOREIGN KEY([userTitleCode])
REFERENCES [dbo].[titleInfo] ([titleCode])
GO
ALTER TABLE [dbo].[userInfo] CHECK CONSTRAINT [FK_userInfo_titleInfo]
GO
/****** Object:  StoredProcedure [dbo].[AddNewUser]    Script Date: 3/17/2020 11:48:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddNewUser]
	@user [dbo].[userTableType] readonly,
	@status nvarchar(50) out
AS
Begin
DECLARE @tempUser TABLE(
    userName nvarchar(50),
    userPass nvarchar(64),
	userFullname nvarchar(50),
	userDeptCode nvarchar(50),
	userTitleCode nvarchar(50),
	userEmail nvarchar(50),
	userEnabled          BIT           DEFAULT ((1)) NULL,
    userFailedLoginCount INT           DEFAULT ((0)) NULL
)

insert into @tempUser select * from @user
update t1 set t1.userPass = dbo.hashPW(t1.userPass, t1.userName) from @tempUser t1
insert into userInfo select * from @tempUser
set @status = '000'
end
GO
/****** Object:  StoredProcedure [dbo].[ChangeUserPassword]    Script Date: 3/17/2020 11:48:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ChangeUserPassword]
	@userName nvarchar(50),
	@userPass nvarchar(50),
	@userPassNew nvarchar(50),

	@status nvarchar(50) out,
	@message nvarchar(50) out
	-- 000: thành công
	-- 001: sai mật khẩu
	-- 002: không tồn tại user hoặc bị vô hiệu


AS
set @message = ''
if not exists (select * from userInfo t1 where t1.userName = @userName and t1.userEnabled = 1)
	begin
		set @status = '002'
		return
	end

if not exists(select * from userInfo t1 where t1.userName = @userName and t1.userPass = dbo.hashPW(@userPass, @userName))
	begin
		set @status = '001'
		return
	end
update t1 set t1.userPass = dbo.hashPW(@userPassNew, @userName)
	from userInfo t1
	where t1.userName = @userName
set @status = '000'
GO
/****** Object:  StoredProcedure [dbo].[GetTitleAndDeptList]    Script Date: 3/17/2020 11:48:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetTitleAndDeptList]

AS
select * from deptInfo
select * from titleInfo where titleCode <> '0000'
GO
/****** Object:  StoredProcedure [dbo].[GetUserDetails]    Script Date: 3/17/2020 11:48:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetUserDetails]
	@userName nvarchar(50),
	@status nvarchar(50) out
	-- 000: pass
	-- 002: không tồn tại user

AS
if not exists (select * from userInfo where userName = @userName)
	begin
		set @status = '002'
		return
	end
select t1.*, t2.titleDesc, t3.deptDesc from userInfo t1 
	join titleInfo t2 on t2.titleCode = t1.userTitleCode
	join deptInfo t3 on t3.deptCode = t1.userDeptCode
	where t1.userName = @userName

set @status = '000'
GO
/****** Object:  StoredProcedure [dbo].[GetUserNoFilter]    Script Date: 3/17/2020 11:48:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetUserNoFilter]

AS
select t1.*, t2.titleDesc, t3.deptDesc from userInfo t1 
	join titleInfo t2 on t2.titleCode = t1.userTitleCode
	join deptInfo t3 on t3.deptCode = t1.userDeptCode
	where t1.userTitleCode <> '0000'
GO
/****** Object:  StoredProcedure [dbo].[GetUserTitle]    Script Date: 3/17/2020 11:48:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetUserTitle]
	@userName nvarchar(50),
	@status nvarchar(50) out,
	@message nvarchar(50) out
	-- 000: đã tìm được user
	-- 002: không tồn tại user hoặc bị vô hiệu

AS
set @message = ''
if not exists (select * from userInfo t1 where t1.userName = @userName and t1.userEnabled = 1)
	begin
		set @status = '002'
	end
	else
	begin
		set @status = '000'
		set @message = (select t1.userTitleCode from userInfo t1 where t1.userName = @userName)
	end
GO
/****** Object:  StoredProcedure [dbo].[GetUserWithPaging]    Script Date: 3/17/2020 11:48:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetUserWithPaging]
	@pageSize bigint,
	@requestPage bigint,
	@collectionSize bigint out,
	@activePage bigint out
AS
set @collectionSize = (select count(*) from userInfo t1 where t1.userTitleCode <> '0000')
set @activePage = @requestPage
if @collectionSize = 0 return

If @activePage*@pageSize > @collectionSize
	SET @activePage = CEILING(Convert(Decimal(10,0),@collectionSize)/Convert(Decimal(10,0),@pageSize));
declare @skipRows bigint = (@activePage - 1)*@pageSize;

select t1.*, t2.titleDesc, t3.deptDesc from userInfo t1 
	join titleInfo t2 on t2.titleCode = t1.userTitleCode
	join deptInfo t3 on t3.deptCode = t1.userDeptCode
	where t1.userTitleCode <> '0000'
	order by t1.userName
	offset @skipRows rows
	fetch next @pageSize rows only;
GO
/****** Object:  StoredProcedure [dbo].[ValidateLogin]    Script Date: 3/17/2020 11:48:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ValidateLogin]
	@userName nvarchar(50),
	@userPass nvarchar(50),
	@status nvarchar(50) out,
	
	-- 000: pass
	-- 001: user bị khóa do vượt quá số lần đăng nhập sai
	-- 002: không tồn tại user hoặc bị vô hiệu
	-- 003: fail
	@message nvarchar(50) out
	-- số lần còn lại
AS
declare @failLoginCount int
set @message = ''
if not exists (select * from userInfo t1 where t1.userName = @userName and t1.userEnabled = 1)
	begin
		set @status = '002'
		return
	end
if not exists (select * from userInfo t1 where t1.userName = @userName and t1.userFailedLoginCount < 10)
	begin
		set @status = '001'
		return
	end
set @failLoginCount = (select t1.userFailedLoginCount from userInfo t1 where t1.userName = @userName)
if exists (select * from userInfo t1 where t1.userName = @userName and t1.userPass = dbo.hashPW(@userPass, @userName))
	begin
		update t1 set t1.userFailedLoginCount = 0 from userInfo t1 where t1.userName = @userName
		set @status = '000'
		select * from userInfo t1 where t1.userName = @userName
		return
	end
else
	begin
		set @failLoginCount = @failLoginCount + 1
		set @status = '003'
		set @message = CONVERT(nvarchar(50), 10 - @failLoginCount)
		update t1 set t1.userFailedLoginCount = @failLoginCount from userInfo t1 where t1.userName = @userName
	end
GO
