@model AngularNETcore.Models.User
<p><b>Hello @Model.userName</b></p>
<p>Your new password is <b>@(Model.userPass)</b>. Please change it ASAP</p>
<p>This email was sent through the
    <a href="https://aws.amazon.com/ses">Amazon SES</a>.
</p>
<p>Best regards,</p>