
  <div class="login-container p-b-30 p-t-30 p-l-15 p-r-15">
    <div class="login-backdrop"></div>

    <div class="login-form-outer p-b-30 p-t-30">
      <form class="login-form-inner" [formGroup] ="thisForm" (ngSubmit)="login()">
        <span class="login-form-title p-b-30">
          {{'login.pageTitle' | translate}}
        </span>

        <div class="login-form-input-outer m-b-10" data-validate="">
          <div *ngIf="f.userName.invalid && KVpair['userNameSubmitted']" class="login-error p-l-7 p-r-7" (click)="clearAllValidationError('userName')">
            <div *ngIf="f.userName.errors.required" class="p-t-3 p-b-3 p-r-3 p-l-3">
              {{'login.userNameBlankValidation' | translate}}
            </div>
            <div *ngIf="f.userName.errors.pattern && !f.userName.errors.required" class="p-t-3 p-b-3 p-r-3 p-l-3">
              {{'login.userNameRegexValidation' | translate: {minlength: '6', maxlength: '20'} }}
            </div>
          </div>
          <input autocomplete="off" class="login-form-textbox" type="text" formControlName="userName" placeholder="{{'login.usernameTxtPlaceholder' | translate}}">
          <span class="login-form-decor01"></span>
          <span class="login-form-decor02">
            <i class="fas fa-user"></i>
          </span>
        </div>

        <div class="login-form-input-outer m-b-10" data-validate="">
          <div *ngIf="f.userPass.invalid && KVpair['userPassSubmitted']" class="login-error p-l-7 p-r-7" (click)="clearAllValidationError('userPass')">
            <div *ngIf="f.userPass.errors.required" class="p-t-3 p-b-3 p-r-3 p-l-3">
              {{'login.userPassBlankValidation' | translate}}
            </div>
            <div *ngIf="f.userPass.errors.pattern && !f.userPass.errors.required" class="p-t-3 p-b-3 p-r-3 p-l-3">
              {{'login.userPassRegexValidation' | translate: {maxlength: '20'} }}
            </div>
          </div>
          <input autocomplete="off" class="login-form-textbox" type="password" formControlName="userPass" placeholder="{{'login.passwordTxtPlaceholder' | translate}}">
          <span class="login-form-decor01"></span>
          <span class="login-form-decor02">
            <i class="fas fa-lock"></i>
          </span>
        </div>

        <div class="login-form-btn-outer p-t-10">
          <button class="login-form-btn" type="submit">
            {{'login.loginButtonCaption' | translate}}
          </button>
        </div>

        <div class="login-form-link-outer p-t-25">
          <a [routerLink]="['/dashboard']" class="login-form-link" >
            {{'login.accountRecoveryLink' | translate}}
          </a>
        </div>
      </form>
    </div>
    <div class="login-form-footer login-form-link-outer">
      <span class="login-form-link">
        {{'login.displayPageIn' | translate}}
        <a class="login-form-link" (click)="switchToLanguage('vi')">
          Tiếng Việt
        </a>
        |
        <a class="login-form-link" (click)="switchToLanguage('en')">
          English
        </a>
      </span>
    </div>
  </div>

