<div mat-dialog-container>
  <mat-toolbar *ngIf="style==1" color="primary" class="mat-elevation-z2">
    <mat-card-header>{{title}}</mat-card-header>
  </mat-toolbar>
  <div class="message" *ngIf="message=='001'|| message=='002'">
    <div>
      {{'login.' + message | translate}}
    </div>
  </div>
  <div class="message" *ngIf="message=='003'">
    <div>
      {{'login.' + message | translate: {message: extraInfo} }}
    </div>
  </div>
  <div class="message" *ngIf="message=='dbError'">
    <div>
      {{'responseErrors.serverError' | translate: {message: extraInfo} }}
    </div>
  </div>
  <div class="message" *ngIf="message=='serverError'">
    <div>
      {{'responseErrors.serverError' | translate: {message: extraInfo} }}
    </div>
  </div>
  <div class="message" *ngIf="message=='unauthorized'">
    <div>
      {{'responseErrors.unauthorized' | translate}}
    </div>
  </div>
  <div class="message" *ngIf="message=='401expired'">
    <div>
      {{'responseErrors.401expired' | translate}}
    </div>
  </div>
  <!-- dialog phần restore mật khẩu -->
  <div class="message" *ngIf="message =='000' + 'restorePassword'">
    <div>
      {{'restorePassword.' + message | translate: {email: extraInfo} }}
    </div>
  </div>

  <div class="message" *ngIf="message =='002' + 'restorePassword'">
    <div>
      {{'restorePassword.' + message | translate}}
    </div>
  </div>

  <!-- dialog phần restore mật khẩu (hết)-->
  <!-- dialog phần đổi mật khẩu -->
  <div class="message" *ngIf="message =='000changepassword' || message =='001changepassword' || message =='002changepassword'">
    <div>
      {{'changePasswordStatus.' + message | translate}}
    </div>
  </div>

  <!-- dialog phần đổi mật khẩu (hết)-->
  <!-- dialog phần thêm mới user -->
  <div class="message" *ngIf="message == '000addnewuser'">
    <div>
      {{'addNewUserStatus.' + message | translate: {userName: extraInfo} }}
    </div>
  </div>

  <!-- dialog phần thêm mới user (hết)-->
  <!-- dialog phần cập nhật user -->
  <div class="message" *ngIf="message == '000'+ 'edituserinfo'">
    <div>
      {{'editUserInfoStatus.' + message | translate: {userName: extraInfo} }}
    </div>
  </div>
  <div class="message" *ngIf="message == '002'+ 'edituserinfo'">
    <div>
      {{'editUserInfoStatus.' + message | translate: {userName: extraInfo} }}
    </div>
  </div>
  <div class="message" *ngIf="message == '000'+ 'resetpassword'">
    <div>
      {{'editUserInfoStatus.' + message | translate: {userName: extraInfo} }}
    </div>
  </div>

  <!--dialog phần cập nhật user (hết)-->
  <!-- dialog phần tạo holiday -->
  <div class="message" *ngIf="message == '000'+ 'addnewholiday'">
    <div>
      {{'addNewHolidayStatus.' + message | translate: {holiday: extraInfo} }}
    </div>
  </div>
  <div class="message" *ngIf="message == '004'+ 'addnewholiday'">
    <div>
      {{'addNewHolidayStatus.' + message | translate: {holiday: extraInfo} }}
    </div>
  </div>


  <!--dialog phần tạo holiday (hết)-->
  <!-- dialog phần xóa holiday -->
  <div class="message" *ngIf="message == '000'+ 'removeholiday'">
    <div>
      {{'removeHolidayStatus.' + message | translate: {holiday: extraInfo} }}
    </div>
  </div>
  <div class="message" *ngIf="message == '002'+ 'removeholiday'">
    <div>
      {{'removeHolidayStatus.' + message | translate: {holiday: extraInfo} }}
    </div>
  </div>


  <!--dialog phần xóa holiday (hết)-->
  <!-- dialog phần cập nhật hạn mức nghỉ -->
  <div class="message" *ngIf="message == '000' + 'adjustleavelimit'">
    <div>
      {{'adjustLeaveLimit.' + message | translate: {userName: extraInfo} }}
    </div>
  </div>

  <!-- dialog phần cập nhật hạn mức nghỉ (hết)-->
  <!-- dialog phần nộp đơn -->
  <div class="message" *ngIf="message == '000'+ 'submitLeaveApp'">
    <div>
      {{'submitLeaveAppStatus.' + message | translate: {trackingRef: extraInfo} }}
    </div>
  </div>
  <div class="message" *ngIf="message == '002'+ 'submitLeaveApp'">
    <div>
      {{'submitLeaveAppStatus.' + message | translate: {trackingRef: extraInfo} }}
    </div>
  </div>


  <!--dialog phần nộp đơn (hết)-->
  <!-- dialog phần duyệt đơn -->
  <div class="message" *ngIf="message == '000'+ 'approval'">
    <div>
      {{'approvalStatus.' + message | translate: {trackingRef: extraInfo} }}
    </div>
  </div>
  <div class="message" *ngIf="message == '002'+ 'approval'">
    <div>
      {{'approvalStatus.' + message | translate: {trackingRef: extraInfo} }}
    </div>
  </div>


  <!--dialog phần duyệt đơn (hết)-->
  <!-- dialog phần trừ phép -->
  <div class="message" *ngIf="message == '000'+ 'directLeaveDeduction'">
    <div>
      {{'directLeaveDeduction.' + message | translate: {trackingRef: extraInfo} }}
    </div>
  </div>
  <div class="message" *ngIf="message == '001'+ 'directLeaveDeduction'">
    <div>
      {{'directLeaveDeduction.' + message | translate}}
    </div>
  </div>
  <div class="message" *ngIf="message == '002'+ 'directLeaveDeduction'">
    <div>
      {{'directLeaveDeduction.' + message | translate}}
    </div>
  </div>


  <!--dialog phần trừ phép (hết)-->
  <div class="info" *ngIf="information !== ''">
    <p>{{information}}</p>
  </div>
  <div class="button-section-container">
    <div *ngIf="button == 0">
      <button mat-button color="accent" (click)="onOk()" tabindex="-1">OK</button>
    </div>
    <div *ngIf="button == 1">
      <button mat-button color="accent" (click)="onOk()" tabindex="-1">OK</button>
      <button mat-button color="accent" (click)="onCancel()" tabindex="-1">CANCEL</button>
    </div>
    <div *ngIf="button == 2">
      <button mat-button color="accent" (click)="onYes()" tabindex="-1">YES</button>
      <button mat-button color="accent" (click)="onNo()" tabindex="-1">NO</button>
    </div>
    <div *ngIf="button == 3">
      <button mat-button color="accent" (click)="onAccept()" tabindex="-1">ACCEPT</button>
      <button mat-button color="accent" (click)="onReject()" tabindex="-1">REJECT</button>
    </div>
  </div>

</div>
