.subgroup {
  background-color: white;
  color: #222;
}

.subgroup .subgroup-header {
    background-color: black;
    width: 100%;
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #666;
    border-top: 1px ridge aliceblue;
    color: rgb(233, 143, 0);
    font-weight:bold;
 }

.subgroup .subgroup-symbol {
    float:right;
    transition: 0.2s all;
    transform: rotate(0deg);
 }

.subgroup .subgroup-symbol.opened {
    transform: rotate(90deg);
 }
.subgroup .subgroup-content-container {
    transition: max-height 200ms linear;
    overflow-y: hidden;
}


