<div class="component-container max-w-450" [@fadeAnimation]=transitionState>
  <h3>{{'dashboard.menuGroup.systemSetting.functions.addPublicHoliday' | translate}}</h3>
  <form class="" [formGroup]="thisForm" onsubmit="return false">
    <div class="textbox-section m-t-5 m-b-5">
      <div class="field-caption">
        <span>{{'commonCaptions.date' | translate}}</span>
      </div>
      <div class="input-area bo-r-5 flex-m" (click)="resetValidity('holidayDate')">
        <div class="error-message bo-r-5 p-l-5 p-r-5" *ngIf="getModelError('holidayDate' + 'Required')">
          {{'validationErrors.invalidDateFormat' | translate}}
        </div>
        <div class="error-message bo-r-5 p-l-5 p-r-5" *ngIf="getModelError('holidayDate' + 'Pattern')">
          {{'validationErrors.invalidDateFormat' | translate}}
        </div>
        <input datetimepicker class="textbox sizefull bo-r-5" autocomplete="off" formControlName="holidayDate">
        <span class="fas fa-calendar-alt icon"></span>
      </div>
    </div>
    <div class="textbox-section m-t-5 m-b-5">
      <div class="field-caption">
        <span>{{'commonCaptions.descriptionCommon' | translate}}</span>
      </div>
      <div class="input-area bo-r-5">
        <input class="textbox sizefull bo-r-5" autocomplete="off" formControlName="description">
      </div>
    </div>
    <!--<div class="textbox-section m-t-5 m-b-5">
    <div class="field-caption">
      <span class="field-caption">{{'commonCaptions.newPassword' | translate}}</span>
    </div>
    <div class="input-area bo-r-5" (click)="resetValidity('userPassNewSubmitted')">
      <div class="error-message bo-r-5 p-l-5 p-r-5" *ngIf="this.KVpair['userPassNewSubmitted'] && f.userPassNew?.errors?.required">
        {{'login.userPassBlankValidation' | translate}}
      </div>
      <div class="error-message bo-r-5 p-l-5 p-r-5" *ngIf="this.KVpair['userPassNewSubmitted'] && !f.userPassNew.errors.required && f.userPassNew?.errors?.pattern">
        {{'validationErrors.userPassRegexValidation' | translate: {minlength: '6', maxlength: '20'} }}
      </div>
      <input class="textbox sizefull bo-r-5 text-disk" autocomplete="off" formControlName="userPassNew">
    </div>
  </div>-->
    <!--<div class="textbox-section m-t-5 m-b-5">
    <div class="field-caption">
      <span>{{'commonCaptions.confirmPassword' | translate}}</span>
    </div>
    <div class="input-area bo-r-5" (click)="resetValidity('userPassConfirmSubmitted')">
      <div class="error-message bo-r-5 p-l-5 p-r-5" *ngIf="(this.thisForm?.errors?.passwordMisMatch) && this.KVpair['userPassConfirmSubmitted']">
        {{'validationErrors.passwordMismatch' | translate}}
      </div>
      <div class="error-message bo-r-5 p-l-5 p-r-5" *ngIf="this.KVpair['userPassConfirmSubmitted'] && f.userPassConfirm?.errors?.required && (!this.thisForm?.errors?.passwordMisMatch)">
        {{'login.userPassBlankValidation' | translate}}
      </div>
      <div class="error-message bo-r-5 p-l-5 p-r-5" *ngIf="this.KVpair['userPassConfirmSubmitted'] && !f.userPassConfirm?.errors?.required
                      && f.userPassConfirm?.errors?.pattern && (!this.thisForm?.errors?.passwordMisMatch)">
        {{'validationErrors.userPassRegexValidation' | translate: {minlength: '6', maxlength: '20'} }}
      </div>
      <input class="textbox sizefull bo-r-5 text-disk" autocomplete="off" formControlName="userPassConfirm">
    </div>
  </div>-->

    <div class="">
      <button class="btn btn-success" type="submit" (click)="submitForm()">
        {{'commonCaptions.submit' | translate}}
      </button>
    </div>
  </form>
</div>
