<div class="dashboard-container" appRootElement (hideDropDown)="hideLanguageSwitcher($event)  ">
  <div class="dashboard-header">
    <div class="dashboard-header-welcome-logout">
      <div class="dashboard-header-welcome">
        <div>{{'dashboard.welcomeMessage' | translate}},&nbsp;</div>
        <div style="color: rgb(233, 143, 0)">{{givenName}}&nbsp;&nbsp;</div>
      </div>
      <div class="dashboard-logout-button hov-pointer text-center" (click)="logOut()">{{'dashboard.logOut' | translate}}</div>
    </div>
    <div class="dashboard-language-switch-button">
      <div class="dashboard-now-display">{{'dashboard.nowDisplayIn' | translate}}:&nbsp;&nbsp;</div>
      <div class="dashboard-language-select">
        <div class="dashboard-language-text" (click)="toggleLanguageSwitcher($event)">
          <div *ngIf="pageLanguage == 'vi'">Tiếng Việt</div>
          <div *ngIf="pageLanguage == 'en'">English</div>
          <div class="dashboard-language-dropdown m-t-3" *ngIf="languageDropdownShowed">
            <div class="dashboard-language-option p-t-5 p-b-5" (click)="switchToLanguage('vi'); updateDisplayLanguage()">
              Tiếng Việt
            </div>
            <div class="dashboard-language-option p-t-5 p-b-5" (click)="switchToLanguage('en'); updateDisplayLanguage()">
              English
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="dashboard-body">
    <div class="dashboard-body-menu">

    </div>
    <div class="dashboard-body-main-content">

    </div>
  </div>
  <div class="dashboard-footer">
    {{'dashboard.appName' | translate}} &nbsp;&copy;&nbsp;{{year}}
  </div>
</div>
