.dashboard-container{
    min-height: 100vh;
    height: auto;
    width: 100vw;
    min-width: 319px;
    background-color: rgb(118, 118, 118);
    display: flex;
    flex-direction: column;
}
.dashboard-header {
  height: 4rem;
  background-color: black;
  color: springgreen;
  display: flex;
  align-items: center;
  padding: 0px 15px;
  z-index: 100;
}
.dashboard-body {
    height: calc(100vh - 2.5rem - 4rem);
    min-height: calc(568px - 2.5rem - 4rem);
}
.dashboard-footer {
  height: 2.5rem;
  display: flex;
  align-items: center;
  padding: 0px 15px;
  background-color: black;
  color: springgreen;
  font-family: Montserrat-Regular, sans-serif;
  z-index: 100;
  font-weight: bold;
}

.dashboard-user-fullname-display {
  color: rgb(233, 143, 0);
  max-width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.dashboard-language-switch-button {
  margin-left: auto;
  display: flex;
}

.dashboard-language-text{
    position: relative;
    border: 2px solid rgb(233, 143, 0);
    border-radius: 9999px;
    color: rgb(233, 143, 0);
    padding: 0px 10px;
}

.dashboard-language-text:hover {
    box-shadow: 0px 0px 25px rgb(233, 143, 0);
    cursor: pointer;
}

.dashboard-language-dropdown {
  position: absolute;
  right: 0;
  width: 100px;
  background-color: rgb(10, 10, 10);
  border-radius: 5px;
  border: 1px solid springgreen;
  color: springgreen;
  text-align: center;
  box-shadow: 0px 0px 10px springgreen;
  z-index:12;
}

.dashboard-language-option:hover {
  color: rgb(233, 143, 0);
  text-decoration: underline;
}

.dashboard-logout-button {
  border: 2px solid springgreen;
  border-radius: 9999px;
  padding: 0px 10px;
  width: 100px;
}

.dashboard-logout-button:hover {
  box-shadow: 0px 0px 25px rgb(233, 143, 0);
}

.dashboard-header-welcome-logout {
  display: flex;
  flex-direction: row;
}
.dashboard-header-welcome{
    display:flex;
    flex-direction: row;
}

.dashboard-body{
    font-family: Monserrat-Regular, sans-serif;
    display: flex;
    flex-direction: row;
    position: relative;
}

.dashboard-body-menu {
  display: flex;
  overflow-y: auto;
  z-index: 11;
  box-shadow: 0px 0px 10px rgb(35, 255, 1);
  height: 100%;
}
.dashboard-sidemenu-panel {
  z-index: 11;
  width: 300px;
  transition: 0.25s;
  white-space: nowrap;
  background-color: #313131;
  /*box-shadow: 0px 2px 15px #313131;*/
  overflow-x: hidden;
}


.dashboard-sidemenu-toggle{
  border: 1px solid springgreen;
  padding: 5px 10px;
  border-radius: 5px;
  color: springgreen;
  margin-right: 10px;
  display: none;
}
.dashboard-sidemenu-toggle.hidden {
  box-shadow: 0px 0px 25px springgreen;
  color: rgb(233, 143, 0);
}
.dashboard-sidemenu-panel-overlay {
  position: absolute;
  width: 100%;
  background-color: rgba(92, 68, 68, 0.62);
  display: none;
  height: 100%;
}
.dashboard-sidemenu-panel-overlay.hidden {
    z-index: 10;
    display: none;
}
.dashboard-body-main-content{
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;

}

.dashboard-body-main-content.edit-mode {
  overflow: hidden;
}
/*responsive*/
@media (max-width: 800px) {
  .dashboard-header, .dashboard-footer {
    font-size: 0.85rem;
  }

  .dashboard-body-menu {
    position: absolute;
    font-size: 0.9rem;
  }

  .dashboard-sidemenu-toggle {
    display: block;
  }

  .dashboard-sidemenu-panel.hidden {
    width: 0px;
  }

  .dashboard-sidemenu-panel {
    width: 240px;
  }

  .dashboard-sidemenu-panel-overlay.hidden {
    z-index: 10;
    display: block;
  }
}

@media (max-width: 600px) {
  .dashboard-header, .dashboard-footer {
    font-size: 0.75rem;
  }
  .dashboard-body-menu {
    position: absolute;
    font-size: 0.85rem;
  }

  .dashboard-sidemenu-toggle {
    display: block;
  }

  .dashboard-sidemenu-panel.hidden {
    width: 0px;
  }

  .dashboard-sidemenu-panel {
    width: 210px;
  }
}

@media (max-width: 500px) {
  .dashboard-header, .dashboard-footer {
    font-size: 0.75rem;
  }

  .dashboard-now-display {
    display: none;
  }

  .dashboard-header-welcome-logout {
    display: flex;
    flex-direction: column;
  }

  .dashboard-body-menu {
    position: absolute;
    font-size: 0.85rem;
  }

  .dashboard-sidemenu-toggle {
    display: block;
  }

  .dashboard-sidemenu-panel.hidden {
    width: 0px;
  }

  .dashboard-sidemenu-panel {
    width: 200px;
  }
}

@media (max-width: 390px) {
  .dashboard-header, .dashboard-footer, .dashboard-body-menu {
    font-size: 0.75rem;
  }
  .dashboard-now-display {
    display: none;
  }
  .dashboard-header-welcome-logout{
      display: flex;
      flex-direction: column;
  }
  .dashboard-body-menu{
      position:absolute;
  }

  .dashboard-sidemenu-toggle {
    display: block;
  }
  .dashboard-sidemenu-panel.hidden {
    width: 0px;
  }

  .dashboard-sidemenu-panel {
    width: 180px;
  }
}
/*responsive*/
/*side menu content*/
.subgroup-content {
    color: springgreen;
    background-color: dimgray;
    font-size: 0.95em;
    transition: font-size 0.2s;
}

.subgroup-content.subgroup-content-active {
    background-color: #fff;
    text-shadow: 0px 0px 10px springgreen;
    color: black;
    border-left: 5px ridge rgb(233, 143, 0);
}

.subgroup-content:hover {
  text-shadow: 0px 0px 5px springgreen;
  font-size: 1em;
  color: black;
}
/*side menu content*/
