<div class="dashboard-container" appRootElement (hideDropDown)="hideLanguageSwitcher($event)">
  <div class="dashboard-header">
    <div class="dashboard-sidemenu-toggle" [ngClass]="{'hidden': sideMenuOpened}" (click)="toggleSideMenu()">
      <span class="fas fa-bars"></span>
    </div>
    <div class="dashboard-header-welcome-logout">
      <div class="dashboard-header-welcome">
        <div>{{'dashboard.welcomeMessage' | translate}},&nbsp;</div>
        <div class="dashboard-user-fullname-display">{{givenName}}&nbsp;&nbsp;</div>
      </div>
      <div class="dashboard-logout-button hov-pointer text-center" (click)="logOut()">{{'dashboard.logOut' | translate}}</div>
    </div>
    <div class="dashboard-language-switch-button">
      <div class="dashboard-now-display">{{'dashboard.nowDisplayIn' | translate}}:&nbsp;&nbsp;</div>
      <div class="dashboard-language-select">
        <div class="dashboard-language-text" (click)="toggleLanguageSwitcher($event)">
          <div *ngIf="pageLanguage == 'vi'">Tiếng Việt</div>
          <div *ngIf="pageLanguage == 'en'">English</div>
          <div class="dashboard-language-dropdown m-t-3" *ngIf="languageDropdownShowed">
            <div class="dashboard-language-option p-t-5 p-b-5" (click)="switchToLanguage('vi'); updateDisplayLanguage()">
              Tiếng Việt
            </div>
            <div class="dashboard-language-option p-t-5 p-b-5" (click)="switchToLanguage('en'); updateDisplayLanguage()">
              English
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="dashboard-body">
    <div class="dashboard-body-menu">
      <div class="dashboard-sidemenu-panel" [ngClass]="{'hidden': !sideMenuOpened}">
        <app-side-menu>
          <sub-group header="First Group">
            <div class="subgroup-content p-l-10 p-t-5 p-b-5">
              this is the content
            </div>
          </sub-group>
          <sub-group header="Second Group">
            <div class="subgroup-content p-l-10 p-t-5 p-b-5">
              this is the content
            </div>
          </sub-group>
          <sub-group header="Third Group">
            <div class="subgroup-content p-l-10 p-t-5 p-b-5">
              this is the content
            </div>
          </sub-group>
          <sub-group header="Heroes">
            <div class="subgroup-content p-l-10 p-t-5 p-b-5" *ngFor="let hero of heroes">
              <a>{{hero.name}}</a>
            </div>
          </sub-group>
          <sub-group header="Villains">
            <div class="subgroup-content p-l-10 p-t-5 p-b-5" *ngFor="let villain of villains">
              <a>{{villain.name}}</a>
            </div>
          </sub-group>
        </app-side-menu>
      </div>
    </div>
    <div class="dashboard-body-main-content">
      ssssssssssssssssss
    </div>
    <div class="dashboard-sidemenu-panel-overlay" [ngClass]="{'hidden': sideMenuOpened}">

    </div>
  </div>
  <div class="dashboard-footer">
    {{'dashboard.appName' | translate}} &nbsp;&copy;&nbsp;{{year}}
  </div>
</div>
