<div class="dashboard-container" appRootElement (hideDropDown)="hideLanguageSwitcher($event)">
  <div class="dashboard-header">
    <div class="dashboard-sidemenu-toggle" [ngClass]="{'hidden': sideMenuOpened}" (click)="toggleSideMenu()">
      <span class="fas fa-bars"></span>
    </div>
    <div class="dashboard-header-welcome-logout">
      <div class="dashboard-header-welcome">
        <div>{{'dashboard.welcomeMessage' | translate}},&nbsp;</div>
        <div class="dashboard-user-fullname-display">{{givenName}}&nbsp;&nbsp;</div>
      </div>
      <div class="dashboard-logout-button hov-pointer text-center" (click)="logOut()">{{'dashboard.logOut' | translate}}</div>
    </div>
    <div class="dashboard-language-switch-button">
      <div class="dashboard-now-display">{{'dashboard.nowDisplayIn' | translate}}:&nbsp;&nbsp;</div>
      <div class="dashboard-language-select">
        <div class="dashboard-language-text" (click)="toggleLanguageSwitcher($event)">
          <div *ngIf="pageLanguage == 'vi'">Tiếng Việt</div>
          <div *ngIf="pageLanguage == 'en'">English</div>
          <div class="dashboard-language-dropdown m-t-3" *ngIf="languageDropdownShowed">
            <div class="dashboard-language-option p-t-5 p-b-5" (click)="switchToLanguage('vi'); updateDisplayLanguage()">
              Tiếng Việt
            </div>
            <div class="dashboard-language-option p-t-5 p-b-5" (click)="switchToLanguage('en'); updateDisplayLanguage()">
              English
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="dashboard-body">
    <!--phần sidemenu của admin-->

    <div class="dashboard-body-menu min-h-full">
      <div class="dashboard-sidemenu-panel" [ngClass]="{'hidden': !sideMenuOpened}">
        <app-side-menu>
          <sub-group header="dashboard.menuGroup.account.caption" *ngIf="['0000', '0001', '0002', '0003'].indexOf(userRole) >= 0">
            <!-- router outlet không được chứa ký tự đặc biệt-->
            <div class="subgroup-content p-l-10 p-t-5 p-b-5 hov-pointer" [routerLink]="['account-information']">
              <!-- tránh việc div bị blank nội dung trước khi translate xong => max-height không chuẩn-->
              {{'dashboard.menuGroup.account.functions.accInfo' | translate}}&nbsp;
            </div>
            <div class="subgroup-content p-l-10 p-t-5 p-b-5 hov-pointer" [routerLink]="['change-password']">
              <!-- tránh việc div bị blank nội dung trước khi translate xong => max-height không chuẩn-->
              {{'dashboard.menuGroup.account.functions.changePassword' | translate}}&nbsp;
            </div>
          </sub-group>
          <sub-group header="dashboard.menuGroup.user.caption" *ngIf="['0000'].indexOf(userRole) >= 0">
            <div class="subgroup-content p-l-10 p-t-5 p-b-5 hov-pointer" [routerLink]="['add-new-user']">
              {{'dashboard.menuGroup.user.functions.addNewUser' | translate}}&nbsp;
            </div>
            <div class="subgroup-content p-l-10 p-t-5 p-b-5 hov-pointer" [routerLink]="['list-all-user']">
              {{'dashboard.menuGroup.user.functions.listAllUser' | translate}}&nbsp;
            </div>
          </sub-group>
          <sub-group header="Third Group" *ngIf="userRole == '0000'">
            <div class="subgroup-content p-l-10 p-t-5 p-b-5 hov-pointer">
              this is the content
            </div>
          </sub-group>
          <sub-group header="Heroes" *ngIf="userRole == '0000'">
            <div class="subgroup-content p-l-10 p-t-5 p-b-5 hov-pointer" *ngFor="let hero of heroes">
              <a>{{hero.name}}</a>
            </div>
          </sub-group>
          <sub-group header="Villains" *ngIf="userRole == '0000'">
            <div class="subgroup-content p-l-10 p-t-5 p-b-5 hov-pointer" *ngFor="let villain of villains">
              <a>{{villain.name}}</a>
            </div>
          </sub-group>
        </app-side-menu>
      </div>
    </div>
    <div class="dashboard-body-main-content p-l-10 p-r-10 p-t-5 p-b-10 w-100">
      <!--<router-outlet name="bodyMainContent"></router-outlet>-->
      <router-outlet></router-outlet>
    </div>
    <div class="dashboard-sidemenu-panel-overlay" [ngClass]="{'hidden': sideMenuOpened}">

    </div>
  </div>
  <div class="dashboard-footer">
    {{'dashboard.appName' | translate}} &nbsp;&copy;&nbsp;{{year}}
  </div>
</div>
