<div class="edit-panel sizefull p-l-10 p-r-10" *ngIf="user">
  <div class="component-container max-w-450">
    <h4>{{'dashboard.menuGroup.user.functions.adminResetPassword' | translate}}</h4>
    <form class="" [formGroup]="thisForm" (ngSubmit)="submitForm()">
      <div class="textbox-section m-t-5 m-b-5">
        <div class="field-caption">
          <span>{{'commonCaptions.userName' | translate}}: <b class="fs-09-rem">{{user.userName}}</b></span>
        </div>
        <div class="field-caption">
          <span>{{'commonCaptions.userFullName' | translate}}: <b class="fs-09-rem">{{user.userFullName}}</b></span>
        </div>
        <!--<div class="input-area bo-r-5" (click)="resetValidity('userName')">
    <div class="error-message bo-r-5 p-l-5 p-r-5" *ngIf="getModelError('userNameRequired')">
      {{'validationErrors.userNameRequired' | translate}}
    </div>
    <div class="error-message bo-r-5 p-l-5 p-r-5" *ngIf="getModelError('userNamePattern')">
      {{'validationErrors.userNamePattern' | translate: {minlength: '6', maxlength: '20'} }}
    </div>
    <div class="error-message bo-r-5 p-l-5 p-r-5" *ngIf="getModelError('userName' + 'DbExist')">
      {{'databaseErrors.userName2627' | translate}}
    </div>
    <input class="textbox sizefull bo-r-5" autocomplete="off" formControlName="userName" [(ngModel)]="user.userName">
  </div>-->
      </div>

      <!--<div class="textbox-section m-t-5 m-b-5">
        <div class="field-caption">
          <span>{{'commonCaptions.userFullName' | translate}}</span>
        </div>
        <div class="input-area bo-r-5" (click)="resetValidity('userFullName')">
          <div class="error-message bo-r-5 p-l-5 p-r-5" *ngIf="getModelError('userFullNameRequired')">
            {{'validationErrors.userFullNameRequired' | translate}}
          </div>
          <div class="error-message bo-r-5 p-l-5 p-r-5" *ngIf="getModelError('userFullNamePattern')">
            {{'validationErrors.userFullNamePattern' | translate: {minlength: '1', maxlength: '20'} }}
          </div>
          <input class="textbox sizefull bo-r-5" autocomplete="off" formControlName="userFullName">
        </div>
      </div>-->

      <div class="textbox-section m-t-5 m-b-5">
        <div class="field-caption">
          <span>{{'commonCaptions.userPass' | translate}}</span>
        </div>
        <div class="input-area bo-r-5" (click)="resetValidity('userPass')">
          <div class="error-message bo-r-5 p-l-5 p-r-5" *ngIf="getModelError('userPass' + 'Required')">
            {{'login.userPassBlankValidation' | translate}}
          </div>
          <div class="error-message bo-r-5 p-l-5 p-r-5" *ngIf="getModelError('userPass' + 'Pattern')">
            {{'validationErrors.userPassRegexValidation' | translate: {minlength: '6', maxlength: '20'} }}
          </div>
          <input class="textbox sizefull bo-r-5 text-disk" autocomplete="off" formControlName="userPass">
        </div>
      </div>
      <div class="textbox-section m-t-5 m-b-5">
        <div class="field-caption">
          <span>{{'commonCaptions.confirmPassword' | translate}}</span>
        </div>
        <div class="input-area bo-r-5" (click)="resetValidity('userPassConfirm')">
          <div class="error-message bo-r-5 p-l-5 p-r-5" *ngIf="getModelError('userPassConfirm' + 'Required')">
            {{'login.userPassBlankValidation' | translate}}
          </div>
          <div class="error-message bo-r-5 p-l-5 p-r-5" *ngIf="getModelError('userPassConfirm' + 'Pattern')">
            {{'validationErrors.userPassRegexValidation' | translate: {minlength: '6', maxlength: '20'} }}
          </div>
          <div class="error-message bo-r-5 p-l-5 p-r-5" *ngIf="getModelError('userPassConfirm' + 'Mismatch')">
            {{'validationErrors.passwordMismatch' | translate }}
          </div>
          <input class="textbox sizefull bo-r-5 text-disk" autocomplete="off" formControlName="userPassConfirm">
        </div>
      </div>

      <!--<div class="textbox-section m-t-5 m-b-5">
        <div class="field-caption">
          <span>{{'commonCaptions.deptDesc.caption' | translate}}</span>
        </div>
        <div class="input-area bo-r-5" (click)="resetValidity('userDeptCode')">
          <div class="error-message bo-r-5 p-l-5 p-r-5" *ngIf="getModelError('userDeptCode' + 'Required')">
            {{'validationErrors.userDeptCodeRequired' | translate}}
          </div>
          <select class="textbox sizefull bo-r-5" autocomplete="off" formControlName="userDeptCode">
            <option class="font-b" value="" selected>
              --&nbsp;{{'commonCaptions.pleasePickOne' | translate}}&nbsp;--
            </option>
            <option *ngFor="let deptCode of deptCodeList" value="{{deptCode}}">
              {{deptCode}}&nbsp;_&nbsp;{{'commonCaptions.deptDesc.' + deptCode | translate}}
            </option>
          </select>
        </div>
      </div>

      <div class="textbox-section m-t-5 m-b-5">
        <div class="field-caption">
          <span>{{'commonCaptions.titleDesc.caption' | translate}}</span>
        </div>
        <div class="input-area bo-r-5" (click)="resetValidity('userTitleCode')">
          <div class="error-message bo-r-5 p-l-5 p-r-5" *ngIf="getModelError('userTitleCode' + 'Required')">
            {{'validationErrors.userDeptCodeRequired' | translate}}
          </div>
          <select class="textbox sizefull bo-r-5" autocomplete="off" formControlName="userTitleCode">
            <option class="font-b" value="" selected>
              --&nbsp;{{'commonCaptions.pleasePickOne' | translate}}&nbsp;--
            </option>
            <option *ngFor="let titleCode of titleCodeList" value="{{titleCode}}">
              {{titleCode}}&nbsp;_&nbsp;{{'commonCaptions.titleDesc.' + titleCode | translate}}
            </option>
          </select>
        </div>
      </div>

      <div class="textbox-section m-t-5 m-b-5">
        <div class="field-caption">
          <span>{{'commonCaptions.userEmail' | translate}}</span>
        </div>
        <div class="input-area bo-r-5" (click)="resetValidity('userEmail')">
          <div class="error-message bo-r-5 p-l-5 p-r-5" *ngIf="getModelError('userEmail' + 'Required')">
            {{'validationErrors.userEmailRequired' | translate}}
          </div>
          <div class="error-message bo-r-5 p-l-5 p-r-5" *ngIf="getModelError('userEmail' + 'Pattern')">
            {{'validationErrors.userEmailPattern' | translate}}
          </div>
          <input class="textbox sizefull bo-r-5" autocomplete="off" formControlName="userEmail">
        </div>
      </div>
      <div class="textbox-section m-t-5 m-b-5">
        <div class="field-caption flex-m">
          <span>{{'commonCaptions.userEnabled' | translate}}</span>&nbsp;&nbsp;
          <mat-slide-toggle class="example-margin"
                            color="warn"
                            [checked]="thisForm.controls['userEnabled'].value"
                            formControlName="userEnabled">
            &nbsp;&nbsp;{{'commonCaptions.enabled' + thisForm.controls['userEnabled'].value | translate}}
          </mat-slide-toggle>
        </div>
      </div>

      <div class="textbox-section m-t-5 m-b-5">
        <div class="field-caption">
          <span>{{'commonCaptions.userFailedLoginCount' | translate}}</span>
        </div>
        <div class="input-area bo-r-5" (click)="resetValidity('userFailedLoginCount')">
          <div class="error-message bo-r-5 p-l-5 p-r-5" *ngIf="getModelError('userFailedLoginCount' + 'Required')">
            {{'validationErrors.userFailedLoginCountPattern' | translate}}
          </div>
          <div class="error-message bo-r-5 p-l-5 p-r-5" *ngIf="getModelError('userFailedLoginCount' + 'Pattern')">
            {{'validationErrors.userFailedLoginCountPattern' | translate}}
          </div>
          <input class="textbox sizefull bo-r-5" autocomplete="off" formControlName="userFailedLoginCount">
        </div>
      </div>-->

      <button class="btn btn-success m-l-3 m-r-3" (click)="closeEditing()">{{'commonCaptions.cancel' | translate}}</button>
      <button class="btn btn-success m-l-3 m-r-3" type="submit">{{'commonCaptions.confirm' | translate}}</button>
    </form>
  </div>
</div>
