<div class="component-container max-w-450" [@fadeAnimation]=transitionState>
  <h3>{{'dashboard.menuGroup.systemSetting.functions.publicHolidayList' | translate}}</h3>
  <div class="fs-07-rem flex-m">
    <span class="fas fa-download btn btn-success fs-07-rem" (click)="downloadCsv()">&nbsp;Download CSV</span> &nbsp;&nbsp;
  </div>
  <table class="table table-striped fs-07-rem">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col" sortable="userName" priority="">{{'commonCaptions.date' | translate}}</th>
        <th scope="col" sortable="userFullName" priority="">{{'commonCaptions.descriptionCommon' | translate}}</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let holiday of holidays; index as i">
        <th scope="row">
          <div class="flex-c-m">
            <div class="p-l-7 p-r-7 p-t-5 p-b-5 hov-pointer table-line-command" title="{{'commonCaptions.remove' | translate}}" (click)="removeFromDb(i)">
              <i class="fas fa-trash-alt"></i>
            </div>
          </div>
        </th>
        <td>
          {{ holiday.holidayDate }}
        </td>
        <td>
          {{ holiday.description }}
        </td>

      </tr>
    </tbody>
  </table>

</div>

