<div class="change-password-container" [@fadeAnimation]=transitionState>
  <h3>{{'dashboard.menuGroup.account.functions.changePassword' | translate}}</h3>
  <form class="" [formGroup]="thisForm" (ngSubmit)="submitForm()">
    <div class="textbox-section m-t-5 m-b-5">
      <div class="field-caption">
        <span>{{'commonCaptions.oldPassword' | translate}}</span>
      </div>
      <div class="input-area" (click)="resetValidity('userPassOldSubmitted')">
        <div class="error-message" *ngIf="this.KVpair['userPassOldSubmitted'] && f.userPassOld.errors.required">
          {{'login.userPassBlankValidation' | translate}}
        </div>
        <div class="error-message" *ngIf="this.KVpair['userPassOldSubmitted'] && !f.userPassOld.errors.required && f.userPassOld.errors.pattern">
          {{'validationErrors.userPassRegexValidation' | translate: {minlength: '6', maxlength: '20'} }}
        </div>

        <input autocomplete="off" class="textbox sizefull" type="password" formControlName="userPassOld">
      </div>
    </div>
    <div class="textbox-section m-t-5 m-b-5">
      <div class="field-caption">
        <span class="field-caption">{{'commonCaptions.newPassword' | translate}}</span>
      </div>
      <div class="input-area" (click)="resetValidity('userPassNewSubmitted')">
        <div class="error-message" *ngIf="this.KVpair['userPassNewSubmitted'] && f.userPassNew.errors.required">
          {{'login.userPassBlankValidation' | translate}}
        </div>
        <div class="error-message" *ngIf="this.KVpair['userPassNewSubmitted'] && !f.userPassNew.errors.required && f.userPassNew.errors.pattern">
          {{'validationErrors.userPassRegexValidation' | translate: {minlength: '6', maxlength: '20'} }}
        </div>
        <input autocomplete="off" class="textbox sizefull" type="password" formControlName="userPassNew">
      </div>
    </div>
    <div class="textbox-section m-t-5 m-b-5">
      <div class="field-caption">
        <span>{{'commonCaptions.confirmPassword' | translate}}</span>
      </div>
      <div class="input-area" (click)="resetValidity('userPassConfirmSubmitted')">
        <div class="error-message" *ngIf="(f.userPassNew.value != f.userPassConfirm.value) && this.KVpair['userPassConfirmSubmitted']">
          {{'validationErrors.passwordMismatch' | translate}}
        </div>
        <div class="error-message" *ngIf="this.KVpair['userPassConfirmSubmitted'] && f.userPassConfirm.errors.required && (f.userPassNew.value == f.userPassConfirm.value)">
          {{'login.userPassBlankValidation' | translate}}
        </div>
        <div class="error-message" *ngIf="this.KVpair['userPassConfirmSubmitted'] && !f.userPassConfirm.errors.required
                        && f.userPassConfirm.errors.pattern && (f.userPassNew.value == f.userPassConfirm.value)">
          {{'validationErrors.userPassRegexValidation' | translate: {minlength: '6', maxlength: '20'} }}
        </div>
        <input autocomplete="off" class="textbox sizefull" type="password" formControlName="userPassConfirm">
      </div>
    </div>

    <div class="">
      <button class="btn btn-success" type="submit">
        {{'commonCaptions.submit' | translate}}
      </button>
    </div>
  </form>
</div>
