<div class="component-container" [@fadeAnimation]=transitionState>
  <div class="search-bar fs-08-rem m-b-7 p-b-7">
    <div class="btn btn-success m-t-3 m-b-3 m-l-3 m-r-3 fs-07-rem" (click)="addCondition()">
      <i class="fas fa-filter"></i>&nbsp;&nbsp;
      <span>{{'commonCaptions.add' | translate}}</span>
    </div>
    <div class="search-term flex-m m-t-2 m-b-2" *ngFor="let condition of conditionSet; index as i; trackBy:trackByIndex;">
      <div class="m-l-5 m-r-10 font-b filter-button hov-pointer fs-09-rem" (click)="removeCondition(i)">
        <span>{{'commonCaptions.remove' | translate}}</span>
      </div>
      <select class="m-l-2 m-r-2" [(ngModel)]="conditionSet[i].phraseOperator">
        <option value="and">And</option>
        <option value="or" *ngIf="i!=0">Or</option>
      </select>
      <select class="m-l-2 m-r-2" [(ngModel)]="conditionSet[i].field" (change)="checkBooleanField(i)">
        <option value="userName">{{'commonCaptions.userName' | translate}}</option>
        <option value="userFullName">{{'commonCaptions.userFullName' | translate}}</option>
        <option value="userDeptCode">{{'commonCaptions.userDeptCode' | translate}}</option>
        <option value="userTitleCode">{{'commonCaptions.userTitleCode' | translate}}</option>
        <option value="userEmail">{{'commonCaptions.userEmail' | translate}}</option>
        <option value="userEnabled">{{'commonCaptions.userEnabled' | translate}}</option>
        <option value="userFailedLoginCount">{{'commonCaptions.userFailedLoginCount' | translate}}</option>
      </select>

      <select class="m-l-2 m-r-2" [(ngModel)]="conditionSet[i].comparisonType">
        <option value="contain" *ngIf="!conditionSet[i].booleanField">{{'filterComparison.contain' | translate}}</option>
        <option value="equal">{{'filterComparison.equal' | translate}}</option>
        <option value="notcontain" *ngIf="!conditionSet[i].booleanField">{{'filterComparison.notContain' | translate}}</option>
        <option value="notequal">{{'filterComparison.notEqual' | translate}}</option>
      </select>
      <input class="m-l-2 m-r-2" [(ngModel)]="conditionSet[i].filterValue" *ngIf="!conditionSet[i].booleanField" />
      <select class="m-l-2 m-r-2" [(ngModel)]="conditionSet[i].filterValue" *ngIf="conditionSet[i].booleanField">
        <option value="true">{{'commonCaptions.enabledtrue' | translate}}</option>
        <option value="false">{{'commonCaptions.enabledfalse' | translate}}</option>
      </select>

    </div>
  </div>
  <div class="command-bar flex-m">
    <div class="btn btn-success m-t-3 m-b-3 m-l-3 m-r-3 fs-07-rem" (click)="clearSort()">
      <i class="fas fa-undo-alt"></i>&nbsp;&nbsp;
      {{ 'commonCaptions.clearSort' | translate }}
    </div>
    <div class="btn btn-success m-t-3 m-b-3 m-l-3 m-r-3 fs-07-rem" (click)="refresh()">
      <span><i class="fas fa-sync-alt"></i>&nbsp;&nbsp;{{'commonCaptions.refreshCommand' | translate}}</span>
    </div>

    <div>
      <select class="custom-select w-auto fs-07-rem p-l-0 p-r-22" #options (change)="changePageSize(options.value)">
        <option *ngFor="let pageSizeOption of pageSizeOptions" [value]="pageSizeOption" [selected]="pageSizeOption == pageSize">
          {{pageSizeOption}} {{ 'commonCaptions.itemPerPage' | translate }}
        </option>
      </select>
    </div>
    <div class="quick-navigate flex-m fs-07-rem m-l-5 m-t-3 m-b-3">
      <div class="font-b">{{'commonCaptions.goToPage' | translate}}</div>: &nbsp;
      <input class="form-control fs-08-rem p-l-2 p-r-2" [(ngModel)]="navigateToPage" />&nbsp;
      <div class="font-b fs-08-rem">/ {{pageCount}}</div>&nbsp;
      <div class="btn btn-success p-l-10 p-r-10 p-t-0 p-b-0 fs-07-rem" (click)="navigate(navigateToPage)"><i class="fas fa-arrow-right"></i></div>
    </div>
  </div>
  <div class="data-display-section">
    
    <div class="pager-bar d-flex justify-content-between p-2 fs-08-rem">
      <ul class="pagination m-b-5" *ngIf="pageCount > 1 && collectionSize > 0">
        <!--first page-->
        <li class="page-item number-item" *ngIf="activePage !== 1" (click)="loadPage(1)">
          <span class="page-link"><i class="fas fa-fast-backward"></i></span>
        </li>
        <!--previous page-->
        <li class="page-item number-item" *ngIf="activePage !== 1" (click)="loadPage(activePage - 1)">
          <span class="page-link"><i class="fas fa-angle-left"></i></span>
        </li>
        <!--lower tripple dot-->
        <li class="page-item number-item" *ngIf="pageBlockIndex > 1" disabled>
          <span class="page-link" disabled><i class="fas fa-ellipsis-h"></i></span>
        </li>

        <li class="page-item number-item" *ngFor="let page of visiblePages" (click)="loadPage(page)" [ngClass]="{active: page == activePage}">
          <span class="page-link">{{page}}</span>
        </li>

        <!--upper tripple dot-->
        <li class="page-item number-item" *ngIf="pageBlockIndex < upperPageBlockIndex" disabled>
          <span class="page-link" disabled><i class="fas fa-ellipsis-h"></i></span>
        </li>
        <!--next page-->
        <li class="page-item number-item" *ngIf="activePage !== pageCount" (click)="loadPage(activePage + 1)">
          <span class="page-link"><i class="fas fa-angle-right"></i></span>
        </li>
        <!--last page-->
        <li class="page-item number-item" *ngIf="activePage !== pageCount" (click)="loadPage(collectionSize)">
          <span class="page-link"><i class="fas fa-fast-forward"></i></span>
        </li>
      </ul>
    </div>
    <div class="fs-07-rem">
      {{lowerItem}} - {{upperItem}} / {{collectionSize}}
    </div>
    <table class="table table-striped fs-07-rem">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col" sortable="userName" priority="" (sort)="onSort($event)">{{'commonCaptions.userName' | translate}}</th>
          <th scope="col" sortable="userFullName" priority="" (sort)="onSort($event)">{{'commonCaptions.userFullName' | translate}}</th>
          <th scope="col" sortable="userDeptCode" priority="" (sort)="onSort($event)">{{'commonCaptions.userDeptCode' | translate}}</th>
          <th scope="col">{{'commonCaptions.deptDesc.caption' | translate}}</th>
          <th scope="col" sortable="userTitleCode" priority="" (sort)="onSort($event)">{{'commonCaptions.userTitleCode' | translate}}</th>
          <th scope="col">{{'commonCaptions.titleDesc.caption' | translate}}</th>
          <th scope="col" sortable="userEmail" priority="" (sort)="onSort($event)">{{'commonCaptions.userEmail' | translate}}</th>
          <th scope="col" sortable="userEnabled" priority="" (sort)="onSort($event)">{{'commonCaptions.userEnabled' | translate}}</th>
          <th scope="col" sortable="userFailedLoginCount" priority="" (sort)="onSort($event)">{{'commonCaptions.userFailedLoginCount' | translate}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users; index as i">
          <th scope="row">
            <div class="p-l-10 p-t-5 p-b-5 hov-pointer" (click)="openEditFunction(user, i)">
              Edit
            </div>
          </th>
          <td>
            {{ user.userName }}
          </td>
          <td>
            {{ user.userFullName }}
          </td>
          <td>
            {{ user.userDeptCode }}
          </td>
          <td>
            {{'commonCaptions.deptDesc.' + user.userDeptCode | translate}}
          </td>
          <td>
            {{ user.userTitleCode }}
          </td>
          <td>
            {{'commonCaptions.titleDesc.' + user.userTitleCode | translate}}
          </td>
          <td>
            {{ user.userEmail }}
          </td>
          <td *ngIf="user.userEnabled">
            {{'commonCaptions.enabledtrue' | translate}}
          </td>
          <td *ngIf="!user.userEnabled">
            {{'commonCaptions.enabledfalse' | translate}}
          </td>
          <td>
            {{ user.userFailedLoginCount }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
 <app-edit-user-info></app-edit-user-info>

